<p style="color: green"><%= notice %></p>
<h1 class='mt-4 mb-1'>Tweets</h1>
<div class='d-flex justify-content-end' >
  <%= link_to "Nuevo Tweet", new_tweet_path, class:'btn btn-primary m-1 mb-3' %>
</div>
<% @tweets.each do |tweet| %>
  <div id="tweets" class='card card-body text-bg-dark mb-3'>
    <%= render tweet %>
    <div>
      <%= link_to 'Ver tweet', tweet, class:"btn btn-sm btn-primary ms-1 mt-2" %>
    </div>
  </div>
<% end %>
<div class='text-bg-dark d-flex justify-content-center mt-4' >
  <%= render partial: 'pagy/bootstrap_nav', locals: {pagy: @pagy} %>
</div>
