<div class='mt-5'>
  <p style="color: green"><%= notice %></p>
  <%= render @tweet %>
  <div class='d-flex justify-content-between mt-4'>
    <div class='d-flex'>
      <%= link_to "Editar tweet", edit_tweet_path(@tweet), class:"btn btn-primary me-2" %>
      <%= button_to "Eliminar tweet", @tweet, method: :delete, class:"btn btn-danger" %>
    </div>
    <div>
      <%= link_to "Volver al inicio", tweets_path, class:"btn btn-primary" %>
    </div>
  </div>
</div>
